.Home {
  width: 100%;
  height: 100%;
  position: relative;
  background-image: url("../../../public/images/bg.jpg");
  .container {
    width: 1200px;
    // height: 80%;
    background-color: #fff;
    margin: auto;
    position: relative;
    top: 50px;
    border-radius: 15px;
    .nav {
      font-weight: bold;
      ul {
        li {
          margin: 25px;
          cursor: pointer;
        }
        li:hover {
          color: #f25a67;
        }
      }
    }
    .line {
      width: 100%;
      height: 1px;
      background-color: #f2f2f2;
    }
    .content {
      width: 100%;
      margin: 25px 80px;
      .top {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 200px;
        .avatar {
          width: 20%;
          display: inline-block;
          height: 200px;
        }
        .right {
          display: inline-block;
          width: 80%;
          height: 200px;
          .title{
              font-size: 36px;
              font-weight: 400;
              span{
                  color: #f25a67;
                  font-weight: 600;
              }
          }
          .ant-carousel{
            color: #868686;
          }
          .socical{
              margin-top: 15px;
              .socal_name{
                  color: #868686;
              }
          }
        }
      }
    }
  }
}
