.index {
  .top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    .avatar {
      width: 20%;
      display: inline-block;
      height: 200px;
    }
    .right {
      display: inline-block;
      width: 80%;
      height: 200px;
      .title {
        font-size: 36px;
        font-weight: 400;
        span {
          color: #f25a67;
          font-weight: 600;
        }
      }
      .ant-carousel {
        color: #868686;
      }
      .socical {
        margin-top: 15px;
        .socal_name {
          color: #868686;
        }
        .app{
          margin-top: 5px;
          display: flex;
            align-items: center;
            justify-content: left;
          .circle{
            width: 30px;
            height: 30px;
            border: 1px solid #999;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 5px 10px;
            cursor: pointer;
            img{
              width: 15px;
            }
          }
         
        }
      }
    }
  }
  .content {
    margin: auto;
    .ant-carousel {
      width: 1000px;
      height: 520px;
      position: relative;
      img {
        width: 980px;
        height: 520px;
        border-radius: 20px;
      }
      .coverTitle{
        color: #fff;
        margin-top: 350px;
        margin-left: 50px;
        z-index: 9;
        position: absolute;
        .name{
          font-size: 36px;
        }
        a{
          font-weight: bold;
          color: #fff;
        }
        .start{
          cursor: pointer;
          margin-top: 10px;
          background-color: rgba(7, 7, 7, 0.8);
          padding: 10px;
          border-radius: 10px;
          text-align: center;
          width: 100px;
          
        }
      }
    }
  }
}
